
.shop_category{
    text-align: center;
}
section h2{
    color: black;
    font-size: 40px;
    font-weight: 700;
}
section p{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.625em;

}
.shop_img{
    display:flex;
    gap: 20px;

}